# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.idea/

# Model checkpoints
*.pt
*.pth
*.bin


# Data
data/raw/
data/processed/

# macOS
.DS_Store

requirements.txt
